@font-face 
	{
	   font-family: "Avernir_B";
	   src: url("../fonts/AvenirNextLTPro-Bold.otf");
	}
@font-face 
	{
	   font-family: "Avernir_R";
	   src: url("../fonts/AvenirNextLTPro-Regular.otf");
	}


*{
	font-family: 'Avernir_R';
}

/*AvenirNextLTPro-MediumCn*/
.parrafo{
	font-size: 2.7vh;
}

.typ_name{
	 font-family: "Avernir_B";
	 height: 60px;
}

/*-----------------MENU--------------------------*/
	.nb-color{
		background-color: rgba(80,80,80,0.5);
		}
	.nb-link{
		}
	.logotipo{
		padding: 3%;
		margin-bottom: 5%;
		}
	.logoNav{
		height: inherit;
		}
	.nb-btn-mini{
		color: #fff;
		}
	.listita{
		margin-top: 1%;
		margin-bottom: 1%;
		}
		nav>div a{
			color: #fff;
			font-size: 25px;
			padding: 25px;
			}
			.listita>li a:hover,
			.listita>li a:active,
			.listita>li a:visited{
				color: #fff;
				text-decoration: none;
				background-color: rgba(80,80,80,1);
			}

/*-------------------INDEX-----------------------*/
	.slider-inicio{
		height: 100vh;
		position: relative;
	}
	.logoSlider{
		position:absolute;
		top: 15%;
		right: 0;
		left:0;
		}
		.logoSlider img{
			width: 80%;
			margin: 0 auto;
		}
	.fondoSlider{
		background: 
			url('../img/img-carro.png') 
			no-repeat 
			center center;
		background-size: cover;
		height: 100%;
		margin: 0;
	}
/*------------------ACERCA-----------------------*/
	.acerca{
		padding-top: 5%;
		background-color: #fbfbfb;
		height: inherit;
	}
	.infor{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.infor>div>h3{
		font-style: italic;
		color: #9e8660;
	}
/*------------------NOSOTROS-----------------------*/
	.nosotros{
		background-color: #847a56;
		padding: 5% 0;
		height: 100vh;
	}
	.Desarrolladores{
		text-align: center;
		color: #fff;
	}
	.infoDes{
		text-align: center;
		height: inherit;
		margin: 3% auto;
	}
	.imgUser img{
		margin:0 auto;
		border-radius: 200px;
		width: 200px;
		min-width: 125px;
	}
	.dataUser{
		display: block;
		color: #fff;
		height: auto;
	}

	.dataUser h4 i {
		margin-left: 5.5vw;
		font-size: 4vh;
	}

/*------------------galeria--------------------------*/
	.galeria{
		height: 100vh;
	}
	.texto_titulo{
		margin-top: 10vh;
		text-align: center;
	}
	.slider{
		margin-top: 5vh;
	}		
/*------------------CONTACTO-----------------------*/
	.contacto{
		height: 100vh;
		position: relative;
		}
		.cont-data{
			padding-top: 5%;			
		}
		.elCorreo{
			display: block;
			}
			.correo{
				font-size: 30px;
			}
	.laImagen_1, .laImagen_2{
		position: absolute;
		top: 25vh;
		height: 45vh;
	}		

	.laImagen_1{
		left: 4vw;
		}

	.laImagen_2{
		right: 4vw;
		}

	.laImagen_1 img, .laImagen_2 img{
		height: inherit;
	}
	.logoFoot{

	}
	/*------------------VIDEO--------------------------*/
		.contVideo{
			width: 55vw;
			margin: 5vh auto 0 auto;
		}
		.contVideo iframe{
			height: 55vh;
			width: inherit;
			text-align: center;
		}


/*---------------RESPONSIVE----------------------*/
	@media (max-width: 1024px){ /*-----------------IPAD*/
		.nosotros{
			background-color: #847a56;
			padding: 5% 0;
			height: inherit;
		}

		.galeria{
			height: inherit;
		}

		.contVideo{
			width: 100%;
			margin: 5vh auto 0 auto;
		}

		.laImagen_1, .laImagen_2{
			position: absolute;
			top: 68vh;
			height: 30vh;
		}		

		.laImagen_1{
			left: 19vw;
			}

		.laImagen_2{
			right: 19vw;
			}

		.contVideo iframe{
			height: 30vh;
			width: inherit;
			text-align: center;
		}
	}